{% extends 'caseload/main.html' %}

{% block content %}
<center>
    {% if searched %}
        <h1>You searched for {{ searched }}</h1>
        <br/>
        {% for sessions in sessions %}
        {{ sessions }} - {{ sessions.child.first_name }} {{ sessions.child.last_name }} {{ sessions.child.id_number }}
        {{ sessions.session_date }} {{ sessions.session_attendance }} <br/>
         {% endfor %}


    {% else %}
    <h1>You forgot to search</h1>
    {% endif %}


</center>


{% endblock %}