{% extends 'caseload/main.html' %}

{% block content %}

<body>
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
              <div class="card-block">
                <h4 class="card-title">Child Name</h4>
                <p class="card-text">Child Id Number</p>
                <a href="#" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
              <div class="card-block">
                <h4 class="card-title">Child Name</h4>
                <p class="card-text">Child Id Number</p>
                <a href="#" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
              <div class="card-block">
                <h4 class="card-title">Child Name</h4>
                <p class="card-text">Child Id Number</p>
                <a href="#" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
                <div class="card-block">
                    <h4 class="card-title">Child Name</h4>
                    <p class="card-text">Child Id Number</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="text-align: center;padding: 10px">
              <div class="card-block">
                <h4 class="card-title">Child Name</h4>
                <p class="card-text">Child Id Number</p>
                <a href="#" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
 
</body>


{% endblock %}
