{% extends 'caseload/main.html' %}

{% block content %}

<body>

  <div class="caseloadh"><h1>Caseload</h1></div>

  <div class="addchild"><a href="{% url 'new-child' %}"><button class="btn" id="add-button">Add Child</button></a></div>

  <div class="row">
    {% for item in all %}
        <div class="col-md-4">
          <div class="card" style="text-align: center;padding: 20px">
            <div class="card-block">
              <h4><strong>{{ item.first_name }} {{ item.last_name }}</strong></h4>
              <p>Child ID: {{ item.id_number }}</p>
              <a href="{% url 'delete-child' item.id %}" class="btn btn-primary">Delete</a><br>
            </div>
          </div>
        </div>
    {% endfor %}
</div>

 
</body>


{% endblock %}
