<center>
<section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/"><i class="fa fa-angle-double-right"></i>Caseload</a></li>
            <li><a href="/schedule/"><i class="fa fa-angle-double-right"></i>Schedule</a></li>
            <li><a href="/sessions/"><i class="fa fa-angle-double-right"></i>Sessions</a></li>
            <li><a href="/attendance/"><i class="fa fa-angle-double-right"></i>Attendance</a></li>
          </ul>
        </div>
    </div>
</div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">DT Tracker &#169 2024<a class="text-green ml-2" target="_blank"></a></p>
        </div>
        </hr>
      </div>  
    </div>
  </section>
</center>