{% extends 'caseload/main.html' %}

{% block content %}

<div class="newsessionlogh"><h1>Add Session Logs for the Month</h1></div>

<div class="container3">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Select the child for this scheduled session:</p>
            {{ form.child }}
        </div>
    <div class="form-group">
        <p>Enter the month:</p>
        {{ form.month}}
    </div>
    <div class="form-group">
        <p>Enter the number of completed sessions for the month:</p>
        {{ form.sessions_completed }}
    </div>
    <div class="form-group">
        <p>Enter the number of excused absences for the month:</p>
        {{ form.excused_absence }}
    </div>
    <div class="form-group">
        <p>Enter the number of unexcused absences for the month:</p>
        {{ form.unexcused_absence }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    </form>
</div>


{% endblock %}
