{% extends 'caseload/main.html' %}

{% block content %}

<div class="newscheduleh"><h1>Add New Session to Schedule</h1></div>

<div class="container2">
    <form action="" method="POST">
        {% csrf_token %}
    <div class="form-group">
        <p>Enter the week day of scheduled session:</p>
        {{ form.scheduled_week_day }}
    </div>
    <div class="form-group">
        <p>Enter the time session is scheduled for:</p>
        {{ form.session_time }}
    </div>
    <div class="form-group">
        <p>Select the child for this scheduled session:</p>
        {{ form.child }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    </form>
</div>

{% endblock %}