{% extends 'caseload/main.html' %}

{% block content %}


<div class="container">
    <h1>Add Session Log</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Select the child for this scheduled session:</p>
            {{ form.child }}
        </div>
    <div class="form-group">
        <p>Enter the date for this session:</p>
        {{ form.session_date }}
    </div>
    <div class="form-group">
        <p>Enter session outcome as 'completed', 'excused', or 'unexcused':</p>
        {{ form.session_attendance }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    </form>
</div>


{% endblock %}
