{% extends 'caseload/main.html' %}

{% block content %}
<center>

<div class="caseloadreporth"><h1>Caseload Attendance Reports by Month</h1></div>

{% if search %}
<div class="row">
    {% for data in data %}
        <div class="col-md-4">
          <div class="card" style="text-align: center; padding: 20px">
            <div class="card-block">
                <h4><strong>{{ data.child.first_name }} {{ data.child.last_name }}</strong></h4>
                <p>Month: {{ data.month }}</p>
                <p>Attendance Percentage: {{ data.get_percentage }}%</p>
            </div>
          </div>
        </div>
</div>


    <div class='row mt-3 pt-3'>
        <div class= 'col-md-9'>
            <div class='card'>
            <div><canvas id="myChart{{ forloop.counter }}"></canvas></div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>

                var ctx = document.getElementById('myChart{{ forloop.counter }}');
                new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: ['completed sessions', 'excused absences', 'unexcused absences'],
                    datasets: [{
                        label: ['{{ data.month }}',],
                        data: ['{{ data.sessions_completed }}', '{{ data.excused_absence }}', '{{ data.unexcused_absence }}'],
                      borderWidth: 1
                    }]
                  },
                });
              </script>
            </div><hr>
        </div>
    {% endfor %}
    </div>
{% endif %}


</center>


{% endblock %}