{% extends 'caseload/main.html' %}

{% block content %}

<a href="{% url 'new-schedule' %}"><button class="btn btn-primary" id="add-button">Add Session</button></a>

<div class="row">
  {% for item in all_schedule %}
      <div class="col-md-4">
        <div class="card" style="text-align: center;padding: 20px">
          <div class="card-block">
            <h4><strong>{{ item.child.first_name }} {{ item.child.last_name }}</strong></h4>
            <p>Session Day: {{ item.scheduled_week_day }}</p>
            <p>Session Time: {{ item.session_time }}</p>
            <a href="{% url 'delete-schedule' item.id %}" class="btn btn-primary">Delete</a><br>
          </div>
        </div>
      </div>
  {% endfor %}
</div>


{% endblock %}

