{% extends 'caseload/main.html' %}

{% block content %}


<div class="container">
    <div class="text-header">Monday</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="text-header">Tuesday</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="text-header">Wednesday</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="text-header">Thursday</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="text-header">Friday</div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Child Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Child Id Number</h6>
            <p class="card-text">Session Time</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

