{% extends 'caseload/main.html' %}

{% block content %}
<center>

{% if search %}
<div class="row">
    {% for data in data %}
        <div class="col-md-4">
          <div class="card" style="text-align: center;padding: 20px">
            <div class="card-block">
              <p>Attendance Percentage: {{ data.get_percentage }}%</p>
            </div>
          </div>
        </div>
    {% endfor %}
</div>

    <div class='row mt-3 pt-3'>
        <div class= 'col-md-8'>
            <canvas id="myChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('myChart');
              
                new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: ['completed', 'excused', 'unexcused'],
                    datasets: [{
                      label: [{% for data in data %}'{{ search.data.child.first_name }}', 'Attendance Report' {% endfor %}],
                      data: [{% for data in data %}'{{ data.sessions_completed }}', '{{ data.excused_absence }}', '{{ data.unexcused_absence }}'{% endfor %}],
                      borderWidth: 1
                    }]
                  },
                });
              </script>
    
        </div>
    </div>
{% endif %}



</center>


{% endblock %}